{extend name="index" /}
{block name="body"}
<div class="container">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-7">
            <form enctype="multipart/form-data" class="form-horizontal" action="{:url('update')}" method="post">
                <input name="id" type="hidden" value="{$Systemset->id}" />
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">公司名称</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="name" value="{$Systemset->name}" name="name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="show" class="col-md-2 control-label">公司名称是否显示</label>
                    <div class="col-md-10">
                        <input id="man" type="radio" name="is_show" {eq name="$Systemset->getData('is_show')" value="0" } checked="checked" {/eq} value="0" />
                        <label for="man">&nbsp;否</label>&nbsp;
                        <input id="woman" type="radio" name="is_show" {eq name="$Systemset->getData('is_show')" value="1" } checked="checked" {/eq}  value="1" />
                        <label for="woman">&nbsp;是</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="footer_name" class="col-sm-2 control-label">页脚名称</label>
                    <div class="col-sm-10">
                        <input name="footer_name" type="text" class="form-control" id="footer_name" value="{$Systemset->footer_name}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="is_display" class="col-md-2 control-label">页脚名称是否显示</label>
                    <div class="col-md-10">
                        <input id="man" type="radio" name="is_display" {eq name="$Systemset->getData('is_display')" value="0" } checked="checked" {/eq} value="0" />
                        <label for="man">&nbsp;否</label>&nbsp;
                        <input id="woman" type="radio" name="is_display" {eq name="$Systemset->getData('is_display')" value="1" } checked="checked" {/eq} value="1" />
                        <label for="woman">&nbsp;是</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">缩图</label>
                    <div class="col-sm-10">
                        <input id="file_upload" type="file" class="file" name="file" multiple="true">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default btn btn-primary">&nbsp;保存</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>
{/block}
