{extend name="index" /} {block name="body"}
<div class="container">
    <div class="row-fluid">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <form action="" method="get">
                <div class="row">
                    <div class="col-md-3">
                        <div class="input-group custom-search-form">
                            <input class="form-control" name="name" placeholder="标题..." type="text" value="{:input('get.name')}" />
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-2 col-md-offset-5">
                        <div class="col-md-2"><a href="{:url('add')}" class="btn btn-primary" style="margin-left: 40px;
"><i class="glyphicon glyphicon-plus"></i>&nbsp;增加</a></div>
                    </div>
                </div>
            </form>
            <div class="box">
                <div class="box-body table-responsive">
                    <div class="panel-body">
                    </div>
                    <!-- /input-group -->
                    <!-- Table -->
                    <table class="table table-bordered table table-hover">
                        <thead>
                            <tr class="info">
                                <th>序号</th>
                                <th>名称</th>
                                <th>权重</th>
                                <th>状态</th>
                                <th>权限</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {volist name="Menus" id="Menu" key="key"}
                            <tr>
                                <td>{$key}</td>
                                <td>{$Menu->name}</td>
                                <td>{$Menu->weight}</td>
                                <td>{$Menu->status}</td>
                                <td>{$Menu->is_permission}</td>
                                <td>
                                    <a class="btn btn-md btn-primary" href="{:url('Menu/edit?id='.$Menu->id)}"><i class="fa fa-pencil"></i> 编辑</a>
                                    <a class="btn btn-md btn-danger" href="{:url('delete?id='.$Menu->id)}"><i class="fa fa-trash-o "></i> 删除</a>
                                </td>
                            </tr>
                            {/volist}
                        </tbody>
                    </table>
                    {$Menus->render()}
                </div>
                <nav>
                    <Yunzhi:page totalcount="totalCount" />
                </nav>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
{/block}
