{extend name="index" /} {block name="body"}
<div class="container">
    <div class="row-fluid">
        <div class="col-md-12">
            <form action="" method="post">
                <div class="row">
                    <div class="col-md-2">
                        <select class="form-control">
                            <foreach name="" item="module">
                                <option value="">前台菜单</option>
                                <option value="">后台菜单</option>
                                <option value="">全部</option>
                            </foreach>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group custom-search-form">
                            <input class="form-control" name="" placeholder="标题..." type="text" value="" />
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2 col-md-offset-5">
                        <a href="{:url('Menu/add')}" class="btn btn-info"><i class="glyphicon glyphicon-plus"></i> 新增</a>
                    </div>
                </div>
            </form>
            <div class="box">
                <div class="box-body table-responsive">
                    <div class="panel-body">
                    </div>
                    <!-- /input-group -->
                    <!-- Table -->
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>名称</th>
                                <th>类别</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <a class="btn btn-md btn-primary" href="{:url('Menu/edit')}"><i class="fa fa-pencil"></i> 编辑</a>
                                    <a class="btn btn-md btn-danger" href="{:url('delete')}"><i class="fa fa-trash-o "></i> 删除</a>
                                </td>
                            </tr>
                            </foreach>
                        </tbody>
                    </table>
                </div>
                <nav>
                    <Yunzhi:page totalcount="totalCount" />
                </nav>
            </div>
        </div>
    </div>
</div>
{/block}
