{extend name="index" /} {block name="content"}
<div class="copyrights">Collect from <a href="http://www.cssmoban.com/">Website Template</a></div>
<!--=======content================================-->
<div id="content">
    <div class="ic">More Website Templates @ TemplateMonster.com - July 22, 2013!</div>
    <div class="slider-relative">
        <div class="slider-block">
            <div class="slider">
                <ul class="items">
                    <li><img src="/thinkphp_5.0CMS/public/index/images/slider-1.jpg" alt="">
                        <div class="banner">Our Customers are Our Priority</div>
                    </li>
                    <li><img src="/thinkphp_5.0CMS/public/index/images/slider-2.jpg" alt="">
                        <div class="banner">Creative Problem-Solving</div>
                    </li>
                    <li><img src="/thinkphp_5.0CMS/public/index/images/slider-3.jpg" alt="">
                        <div class="banner">Imagination is Our Power</div>
                    </li>
                    <li><img src="/thinkphp_5.0CMS/public/index/images/slider-4.jpg" alt="">
                        <div class="banner">The World of Opportunities</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bg-2">
        <div class="container_12">
            <div class="grid_6">
                <div>
                    <h2 class="indent-1">热门搜索</h2>
                    <div class="wrap box-2 border-1">
                        <ul>
                        {volist name="News" id="New"}
                            <li>
                                <a href="{:url('detail?id=' . $New->id)}" title="{$New->title}" target="_blank"><?php
                                echo mb_substr($New->title, 0, 10, 'utf-8');
                                ?>...                            
                                </a>
                                <span>[{$New->create_time}]</span>
                            </li>
                        {/volist}
                        </ul>
                        <br>
                        <a href="{:url('Subpage/index')}" class="btn">MORE</a>
                    </div>
                </div>
            </div>
            <div class="grid_6">
                <div>
                    <h2 class="indent-1">推荐</h2>
                </div>
                <div class="wrap box-2">
                <ul>
                    {volist name="TopNews" id="TopNew"}
                    <li style="float:left;margin-right: 25px;">
                        <a href="{:url('detail?id=' . $TopNew->id)}"><img src="/thinkphp_5.0CMS/public/img/ben.png" alt="{$TopNew->title}" width="100px"></a>
                        <p style="margin-top:10px">
                            <a href="{:url('detail?id=' . $TopNew->id)}"><?php
                                echo mb_substr($TopNew->title, 0, 5, 'utf-8');
                            ?>
                            </a>...
                            {eq name="$TopNew->is_mark" value="3"}置顶{else /}推荐{/eq}
                        </p>
                    {/volist}
                </ul>
                </div>
                    <div style="margin-bottom:100px">
                    </div>
                {$TopNews->render()}
            </div>
        </div>
    </div>
</div>
</div>
</div>
{/block}
