{extend name="index" /}
{block name="content"}
<div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >Website Template</a></div>

<!--=======content================================-->
<div class="container" style="background-color:white;">
	<div class="slider-relative">
        <div class="slider-block">
            <div class="slider" style="position:absolute">
                <img src="/thinkphp_5.0CMS/public/index/images/slider-1.jpg" alt="{$Article->title}">
                <div class="banner">{$Article->title}</div>
            </div>
        </div>
    </div>
	<div style="width:1025px;margin:80px auto 0 auto;">
		<p style="text-indent:25px;">
			{$Article->body}
		</p>
		<br />
	</div>
</div>
{/block}