{extend name="index" /}
{block name="content"}
<div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >Website Template</a></div>

<!--=======content================================-->
<div class="container" style="background-color:white;">
	<div class="slider-relative">
        <div class="slider-block">
            <div class="slider" style="position:absolute">
                <img src="{$Article->getArticleContent($Article->id)->url}" alt="{$Article->title}">
                <h1 style="background-color:#fff;font-size:100px;">{$Article->title}</h1>
            </div>
        </div>
    </div>
	<div style="width:1025px;margin:80px auto 0 auto;">
		<p style="text-indent:25px;">
			{$Article->content}
		</p>
		<br />
	</div>
</div>
{/block}