<footer>
    <div class="container_12">
        <div class="grid_8">
            <span>{$Systemsetss}  <a href="http://www.mengyunzhi.com/81-week-schedule.html" rel="" target="_blank">梦云智</a></span>
        </div>
        <div class="grid_4">
            <ul class="soc-icon">
                <li><a href="#"><img src="/thinkphp_5.0CMS/public/index/images/icon-3.png" alt=""></a></li>
                <li><a href="#"><img src="/thinkphp_5.0CMS/public/index/images/icon-2.png" alt=""></a></li>
                <li><a href="#"><img src="/thinkphp_5.0CMS/public/index/images/icon-1.png" alt=""></a></li>
            </ul>
        </div>
    </div>
</footer>