{extend name="index" /} {block name="content"}

<div id="content">
    <div class="bg-2">
        <div class="container_12">
            <div class="grid_12">
                <h2 class="indent-1" style="margin-top:-80px;">新闻</h2>
                <ul>
                    {volist name="Articles" id="Article"}
                    <div class="grid_12">
                        <img src="{$Article->getArticleContent($Article->id)->url}" width="100" height="60" style="margin-bottom:10px">
                        <a href="{:url('detail?id=' . $Article->id)}">{$Article->title}</a> 
                        <span>[ {$Article->create_time} ]</span>
                    </div>
                    {/volist}
                    <div style="margin-left:-100px;">{$Articles->render()}</div>
                </ul>
            </div>
        </div>
    </div>
</div>
{/block}