{extend name="index" /} {block name="content"}
<div class="copyrights">Collect from <a href="http://www.cssmoban.com/">Website Template</a></div>
<!--=======content================================-->
<div id="content">
    <div class="bg-2">
        <div class="container_12">
            <div class="grid_6">
                <div>
                    <div id="header">
                        <h2>热门搜索</h2>
                        <a href="{:url('Subpage/index')}" class="btn">MORE</a>
                    </div>
                    <div class="wrap box-2 border-1">
                        <ul>
                        {volist name="News" id="New"}
                            <li>
                                <a href="{:url('detail?id=' . $New->id)}" title="{$New->title}" target="_blank"><?php
                                echo mb_substr($New->title, 0, 10, 'utf-8');
                                ?>...                            
                                </a>
                                <span>[{$New->create_time}]</span>
                            </li>
                        {/volist}
                        </ul>
                        <br>
                    </div>
                </div>
            </div>
            <div class="grid_6">
                <div id="header">
                        <h2>新闻通知</h2>
                        <a href="{:url('Subpage/index')}" class="btn">MORE</a>
                    </div>
                <ul>
                    {volist name="Articles" id="Article"}
                    <div class="grid_12">
                        
                        <a href="{:url('detail?id=' . $Article->id)}">{$Article->title}</a> 
                        <span>[ {$Article->create_time} ]</span>
                    </div>
                    {/volist}
                   
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{/block}
