{extend name="index" /}
    {block name="body"}
        <div class="container">
        <div class="row">
            <div class="col-md-12">
                
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-10">
                                <form class="form-inline" action="{:url('',input('get.'))}">
                                    <div class="form-group">
                                        <label class="sr-only" for="name"></label>
                                        <input name="name" type="text" class="form-control" placeholder="姓名..." value="{:input('get.name')}">
                                        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>&nbsp;查询</button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-2"><a href="{:url('add')}" class="btn btn-primary" style="margin-left: 60px;
"><i class="glyphicon glyphicon-plus"></i>&nbsp;增加</a></div>
                        </div>
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <table class="table table-bordered table table-hover">
                    <tr class="info">
                        <th>序号</th>
                        <th>用户名</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td><a href="{:url('detail', 'id=')}">小明</a></td>
                        <td><a href="{:url('state', 'id=')}">解冻</a></td>
                        <td><a href="{:url('delete', 'id=')}" class="btn btn-md btn-danger"><i class="fa fa-trash-o "></i>删除</a>
                            <a href="{:url('edit', 'id=')}" class="btn btn-md btn-primary"><i class="fa fa-pencil"></i>编辑</a></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td><a href="{:url('detail', 'id=')}">小李</a></td>
                        <td><a href="{:url('state', 'id=')}">冻结</a></td>
                        <td><a href="{:url('delete', 'id=')}" class="btn btn-md btn-danger"><i class="fa fa-trash-o "></i>删除</a>
                            <a href="{:url('edit', 'id=')}" class="btn btn-md btn-primary"><i class="fa fa-pencil"></i>编辑</a></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td><a href="{:url('detail', 'id=')}">张三</a></td>
                        <td><a href="{:url('state', 'id=')}">冻结</a></td>
                        <td><a href="{:url('delete', 'id=')}" class="btn btn-md btn-danger"><i class="fa fa-trash-o "></i>删除</a>
                            <a href="{:url('edit', 'id=')}" class="btn btn-md btn-primary"><i class="fa fa-pencil"></i>编辑</a></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td><a href="{:url('detail', 'id=')}">四毛</a></td>
                        <td><a href="{:url('state', 'id=')}">冻结</a></td>
                        <td><a href="{:url('delete', 'id=')}" class="btn btn-md btn-danger"><i class="fa fa-trash-o "></i>删除</a>
                            <a href="{:url('edit', 'id=')}" class="btn btn-md btn-primary"><i class="fa fa-pencil"></i>编辑</a></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    {/block}

    

