<div id="footer" style="clear:both;display:block">
    {block name="footer"}
        <p class="text-center">
            &copy;<?php echo date("Y"); ?>&nbsp;<a target="_blank" href="http://clxy.hebut.edu.cn">CMS</a>&nbsp;&nbsp;&nbsp;&nbsp;<br />技术支持:<a target="_blank" href="http://www.yunzhi.club" alt="河北工业大学梦云智软件开发团队">梦云智软件开发团队</a>
        </p>
    <script src="__SELECT2__/select2.min.js"></script>
    <script src="__BOW__/bootstrap/dist/js/bootstrap.min.js"></script>
    {/block}
    <style type="text/css">
    #footer
    {
        margin-top:20px;
        border-top:1px solid #ccc;
        padding-top:5px;
    }
    </style>
</div>