
    <!-- start: JavaScript-->

    <!-- Bootstrap Core JavaScript -->
    <script src="/thinkphp_5.0CMS/public/home/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/thinkphp_5.0CMS/public/home/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/thinkphp_5.0CMS/public/home/dist/js/sb-admin-2.js"></script>
    <!--webuploader-->
    <js href="/thinkphp_5.0CMS/public/lib/webuploader/webuploader.min.js" />
    <js href="/thinkphp_5.0CMS/public/yunzhi.php/Webuploader/config.html" />
    
    <!--ueditor-->
    <js href="/thinkphp_5.0CMS/public/lib/ueditor/ueditor.config.js" />
    <js href="/thinkphp_5.0CMS/public/lib/ueditor/ueditor.all.min.js" />
    <js href="/thinkphp_5.0CMS/public/lib/ueditor/lang/zh-cn/zh-cn.js" />

    <!--uploadify-->
    <js href="/thinkphp_5.0CMS/public/lib/uploadify/jquery.uploadify.min.js" />
    <js href="/thinkphp_5.0CMS/public/js/js.js" />

    <!--datapickir-->
    <js href="/thinkphp_5.0CMS/public/home/bower_components/datatimepicker/bootstrap-datetimepicker.js" />
    <js href="/thinkphp_5.0CMS/public/home/bower_components/datatimepicker/bootstrap-datetimepicker.zh-CN.js" />
    <link href="/thinkphp_5.0CMS/public/home/bower_components/datatimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" />


    <!-- end: JavaScript-->
