<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="http://www.yunzhiclub.com">梦云智CMS</a>
    </div>
    <!-- /.navbar-header -->
    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <!-- <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                </li>
                <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                </li>
                <li class="divider"></li> -->
                <li><a href="{:url('login/index')}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <a href="{:url('Index/index')}"><i class="fa fa-dashboard fa-fw"></i> 首页</a>
                </li>
                <li>
                    <a href="{:url('Usermanage/index')}"><i class="fa fa-group"></i> 用户管理</span></a>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="{:url('Category/index')}"><i class="fa fa-table fa-fw"></i> 类别管理</a>
                </li>
                <li>
                    <a href="{:url('Article/index')}"><i class="fa fa-edit fa-fw"></i> 文章管理</a>
                </li>
                <li>
                    <a href="{:url('personal/index')}"><i class="glyphicon glyphicon-user"></i> 个人中心</span></a>
                </li>
                <li>
                    <a href="{:url('Systemset/index')}"><i class="fa fa-wrench fa-fw"></i> 系统设置</span></a>

                </li>
                <li>
                    <a href="{:url('Menu/index')}"><i class="fa fa-files-o fa-fw"></i> 菜单管理</span></a>
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>
