{extend name="index" /}
    {block name="body"}
        <div class="container">
        <div class="row">
            <div class="col-md-12">
                
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-10">

                                <a href="{:url('index')}" class="btn btn-md btn-primary"><i class="glyphicon glyphicon-chevron-left">&nbsp;</i>返回</a>
                            </div>
                            <div class="col-md-2">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <table class="table table-bordered table table-hover">
                    <tr class="info">
                        <th>ID</th>
                        <th>姓名</th>
                        <th>用户名</th>
                        <th>邮箱</th>
                        <th>密码</th>
                        <th>上次登录时间</th>
                    </tr>
                    <tr>
                        <td>{$User->id}</td>
                        <td>{$User->name}</td>
                        <td>{$User->username}</td>
                        <td>{$User->email}</td>
                        <td>{$User->password}</td>
                        <td>{$User->last_time_on}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    {/block}
