{extend name="index" /} {block name="content"}
<div class="copyrights">Collect from <a href="http://www.cssmoban.com/">Website Template</a></div>
<!--=======content================================-->
<div id="content">
    <div class="bg-2">
        <div class="container_12">
            <div class="grid_6">
                <div>
                    <h2 class="indent-1">热门搜索</h2>
                    <div class="wrap box-2 border-1">
                        <ul>
                            {volist name="News" id="New"}
                            <li>
                                <a href="{:url('detail?id=' . $New->id)}" title="{$New->title}" target="_blank"><?php
                                echo mb_substr($New->title, 0, 10, 'utf-8');
                                ?>...                            
                                </a>
                                <span>[{$New->create_time}]</span>
                            </li>
                        {/volist}
                        </ul>
                        <br>
                        <a href="#" class="btn">more</a>
                    </div>
                </div>
            </div>
            <div class="grid_6">
                <div>
                    <h2 class="indent-1">产品列表</h2>
                </div>
                <div class="container_12">
                {volist name="Products" id="Product"}
                    <div class="grid_2">
                        <a href="{:url('detail?id=' . $Product->id)}"><img src="/thinkphp_5.0CMS/public/img/ben.png" alt="{$Product->title}" width="100px"></a>
                        <p>{$Product->title}</p>
                    </div>
                    {/volist} 
                    <div style="margin-bottom:100px">
                    {$Products->render()}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

{/block}
