<!DOCTYPE html>
<html>

<head>
    <title>usermanage</title>
    <link rel="stylesheet" type="text/css" href="href=" /thinkphp_5.0CMS/public/index/bower_components/bootstrap/dist/css/bootstrap.min.css "">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <table class="table table-bordered table table-hover">
                    <tr class="info">
                    	<th></th>
                    	<th></th>
                    	<th></th>
                    	<th></th>
                    	<th></th>
                    	<th></th>
                    </tr>
                </table>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</body>

</html>
